
h2{
  font-family: $font-termina-600;
  font-size: 20px;
  text-transform: uppercase;
  color: $color-white;
}
p{
  font-family: $font-termina-400;
}


.link {
  font-family: $font-termina-600;
  font-size: 20px;
  text-transform: uppercase;
  color: $color-black;
}