h1, h2, h3, h4, h5, h6 {
  font-family: $font-termina-600;
  text-transform: uppercase;
}
h1 {
  font-size: clamp(2rem, 5vw, 5rem);
}
h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}
h3 {
  font-size: clamp(2rem, 5vw, 5rem);
}
h4 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}
p {
  font-family: $font-termina-400;
}

.font-termina-700 {
  font-family: $font-termina-700 !important;
}
.font-termina-600 {
  font-family: $font-termina-600 !important;
}
.font-termina-500 {
  font-family: $font-termina-500 !important;
}
.font-termina-400 {
  font-family: $font-termina-400 !important;
}

.link {
  font-family: $font-termina-400;
  font-size: 20px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  &::hover {
    text-decoration: underline;
  }
}
.link_underline {
  text-decoration: underline;
}
.link_black {
  color: $color-black;
}
.link_white {
  color: $color-white;
}
