// 700
@font-face {
  font-family: "Termina-Bold";
  src: url("/fonts/Termina-Bold.otf") format("truetype");
  font-display: auto;
}
// 600
@font-face {
  font-family: "Termina-Medium";
  src: url("/fonts/Termina-Heavy.otf") format("truetype");
  font-display: auto;
}
//500
@font-face {
  font-family: "Termina-Regular";
  src: url("/fonts/Termina-Demi.otf") format("truetype");
  font-display: auto;
}
// 400
@font-face {
  font-family: "Termina-Light";
  src: url("/fonts/Termina-Regular.otf") format("truetype");
  font-display: auto;
}

// Colors
$color-white: #fff;
$color-black: #000;

// Fonts
$font-termina-700: "Termina-Bold";
$font-termina-600: "Termina-Medium";
$font-termina-500: "Termina-Regular";
$font-termina-400: "Termina-Light";

// transitions
$transition-main: .8s;

// Radius
$radius-main: 25px;

// padding
$padding-main: clamp(20px, 10vw, 100px);

// Shadows
$shadow-m: 0 0 10px rgba(0, 0, 0, 0.2);
$shadow-xl: 0 0 20px rgba(0, 0, 0, 0.2);

// Spacing
$spacing-xl: 20px;
$spacing-m: 10px;