.button {
  border: 0;
  border-radius: 999px;
  text-transform: uppercase;
  font-family: $font-termina-500;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
}

.button_white {
  background: $color-white;
  color: $color-black;
}
.button_black {
  background: $color-black;
  color: $color-white;
}
.button_red {
  background: $color-red;
  color: $color-white;
}

.button_big {
  padding: 18px 70px;
  font-size: clamp(16px, 3vw, 25px);
}
.button_medium {
  padding: 15px 60px;
  font-size: clamp(16px, 3vw, 20px);
}
.button_small {
  padding: 10px 50px;
  font-size: clamp(16px, 3vw, 15px);
}
