.button{
  border: 0;
  border-radius: 999px;
  background: $color-white;
  color: $color-black;
  text-transform: uppercase;
  font-family: $font-termina-500;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  height: fit-content;
}

.button-big{
  padding: 20px 50px;
  font-size: clamp(16px, 3vw, 30px);
}

.button-medium{
  padding: 15px 30px;
  font-size: clamp(16px, 3vw, 20px);
}

.button-small{
  padding: 10px 20px;
  font-size: clamp(16px, 3vw, 15px);
}