input,
select,
textarea {
  border-bottom: 1px solid $color-black;
  padding: 10px 0;
  height: 45px;
  font-family: $font-archivo-thin;
  background: white;
  white-space: nowrap;
  border-radius: 0px;
  &::placeholder {
    color: #9ba3af;
  }
}